# Imports Packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
import warnings
import os
from pathlib import Path

# Set up plotting style
plt.style.use('seaborn-v0_8')
sns.set_palette("husl")
warnings.filterwarnings('ignore')

c:\Users\rodol\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [31]:
output_dir = Path("../outputs/eda_plots")

# Loading Dataset

In [4]:
datasets = {}
datasets['register'] = pd.read_parquet("../data/base_cadastral.parquet")
datasets['submission'] = pd.read_parquet("../data/base_submissao.parquet")
datasets['loan'] = pd.read_parquet("../data/historico_emprestimos.parquet")
datasets['installments'] = pd.read_parquet("../data/historico_parcelas.parquet")

In [5]:
for name, df in datasets.items():
    print(f"\nüìÅ {name.upper()} DATASET:")
    print(f"   Shape: {df.shape}")
    print(f"   Memory usage: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")
    print(f"   Columns: {list(df.columns)}")
    print(f"   Data types:")
    for col, dtype in df.dtypes.items():
        print(f"     {col}: {dtype}")

üìÅ REGISTER DATASET:
   Shape: (40000, 16)
   Memory usage: 26.81 MB
   Columns: ['id_cliente', 'sexo', 'data_nascimento', 'qtd_filhos', 'qtd_membros_familia', 'renda_anual', 'tipo_renda', 'ocupacao', 'tipo_organizacao', 'nivel_educacao', 'estado_civil', 'tipo_moradia', 'possui_carro', 'possui_imovel', 'nota_regiao_cliente', 'nota_regiao_cliente_cidade']
   Data types:
     id_cliente: int64
     sexo: object
     data_nascimento: object
     qtd_filhos: int64
     qtd_membros_familia: float64
     renda_anual: float64
     tipo_renda: object
     ocupacao: object
     tipo_organizacao: object
     nivel_educacao: object
     estado_civil: object
     tipo_moradia: object
     possui_carro: object
     possui_imovel: object
     nota_regiao_cliente: int64
     nota_regiao_cliente_cidade: int64

üìÅ SUBMISSION DATASET:
   Shape: (40000, 8)
   Memory usage: 9.10 MB
   Columns: ['id_cliente', 'data_solicitacao', 'dia_semana_solicitacao', 'hora_solicitacao', 'tipo_contrato', 'valor_credito', 'valor_bem', 'valor_parcela']
   Data types:
     id_cliente: int64
     data_solicitacao: object
     dia_semana_solicitacao: object
     hora_solicitacao: int64
     tipo_contrato: object
     valor_credito: float64
     valor_bem: float64
     valor_parcela: float64

üìÅ LOAN DATASET:
   Shape: (186890, 37)
   Memory usage: 252.70 MB
   Columns: ['id_contrato', 'id_cliente', 'tipo_contrato', 'status_contrato', 'data_decisao', 'data_liberacao', 'data_primeiro_vencimento', 'data_ultimo_vencimento_original', 'data_ultimo_vencimento', 'data_encerramento', 'valor_solicitado', 'valor_credito', 'valor_bem', 'valor_parcela', 'valor_entrada', 'percentual_entrada', 'qtd_parcelas_planejadas', 'taxa_juros_padrao', 'taxa_juros_promocional', 'tipo_pagamento', 'finalidade_emprestimo', 'tipo_cliente', 'faixa_rendimento', 'tipo_portfolio', 'tipo_produto', 'categoria_bem', 'combinacao_produto', 'setor_vendedor', 'canal_venda', 'area_venda', 'dia_semana_solicitacao', 'hora_solicitacao', 'flag_ultima_solicitacao_contrato', 'flag_ultima_solicitacao_dia', 'motivo_recusa', 'acompanhantes_cliente', 'flag_seguro_contratado']
   Data types:
     id_contrato: int64
     id_cliente: int64
     tipo_contrato: object
     status_contrato: object
     data_decisao: object
     data_liberacao: object
     data_primeiro_vencimento: object
     data_ultimo_vencimento_original: object
     data_ultimo_vencimento: object
     data_encerramento: object
     valor_solicitado: float64
     valor_credito: float64
     valor_bem: float64
     valor_parcela: float64
     valor_entrada: float64
     percentual_entrada: float64
     qtd_parcelas_planejadas: float64
     taxa_juros_padrao: float64
     taxa_juros_promocional: float64
     tipo_pagamento: object
     finalidade_emprestimo: object
     tipo_cliente: object
     faixa_rendimento: object
     tipo_portfolio: object
     tipo_produto: object
     categoria_bem: object
     combinacao_produto: object
     setor_vendedor: object
     canal_venda: object
     area_venda: int64
     dia_semana_solicitacao: object
     hora_solicitacao: int64
     flag_ultima_solicitacao_contrato: object
     flag_ultima_solicitacao_dia: int64
     motivo_recusa: object
     acompanhantes_cliente: object
     flag_seguro_contratado: float64

üìÅ INSTALLMENTS DATASET:
   Shape: (1390978, 8)
   Memory usage: 241.42 MB
   Columns: ['id_contrato', 'id_cliente', 'versao_parcela', 'numero_parcela', 'data_prevista_pagamento', 'data_real_pagamento', 'valor_previsto_parcela', 'valor_pago_parcela']
   Data types:
     id_contrato: int64
     id_cliente: int64
     versao_parcela: float64
     numero_parcela: int64
     data_prevista_pagamento: object
     data_real_pagamento: object
     valor_previsto_parcela: float64
     valor_pago_parcela: float64

- id_cliente and id_contrato need to be converted to object
- sexo could be boolean
- data_nascimento, data_solicitacao, data_decisao.data_libera√ß√£o, data_primeiro_vencimento, data-ultimo_vencimento_original, data_ultimo_vencimento, data_encerramento need to be converted to datetime
- possui_carro, possui_imovel,flag_ultima_solicitacao_contrato, flag_ultima_solicitacao_dia could be boolean
- versao_parcela maybe be converted to object

# Data Quality Analysis

In [7]:
for name, df in datasets.items():

    print(f"\nüîç {name.upper()} - Data Quality Report:")
    
    # Missing values
    missing = df.isnull().sum()
    missing_pct = (missing / len(df)) * 100
    missing_df = pd.DataFrame({
        'Column': missing.index,
        'Missing_Count': missing.values,
        'Missing_Percentage': missing_pct.values
    }).sort_values('Missing_Percentage', ascending=False)
    
    print("   Missing Values:")
    for _, row in missing_df[missing_df['Missing_Percentage'] > 0].iterrows():
        print(f"     {row['Column']}: {row['Missing_Count']} ({row['Missing_Percentage']:.1f}%)")
    
    # Duplicates
    duplicates = df.duplicated().sum()
    print(f"   Duplicate rows: {duplicates} ({duplicates/len(df)*100:.2f}%)")
    
    # Unique values for categorical columns
    categorical_cols = df.select_dtypes(include=['object', 'category']).columns
    print("   Categorical columns unique values:")
    for col in categorical_cols:
        unique_count = df[col].nunique()
        print(f"     {col}: {unique_count} unique values")

üîç REGISTER - Data Quality Report:
   Missing Values:
     ocupacao: 12676 (31.7%)
   Duplicate rows: 0 (0.00%)
   Categorical columns unique values:
     sexo: 2 unique values
     data_nascimento: 14943 unique values
     tipo_renda: 8 unique values
     ocupacao: 18 unique values
     tipo_organizacao: 58 unique values
     nivel_educacao: 5 unique values
     estado_civil: 5 unique values
     tipo_moradia: 6 unique values
     possui_carro: 2 unique values
     possui_imovel: 2 unique values

üîç SUBMISSION - Data Quality Report:
   Missing Values:
     valor_bem: 24 (0.1%)
     valor_parcela: 4 (0.0%)
   Duplicate rows: 0 (0.00%)
   Categorical columns unique values:
     data_solicitacao: 21 unique values
     dia_semana_solicitacao: 7 unique values
     tipo_contrato: 2 unique values

üîç LOAN - Data Quality Report:
   Missing Values:
     taxa_juros_promocional: 186262 (99.7%)
     taxa_juros_padrao: 186262 (99.7%)
     data_liberacao: 179790 (96.2%)
     data_encerramento: 100803 (53.9%)
     valor_entrada: 100168 (53.6%)
     percentual_entrada: 100168 (53.6%)
     data_ultimo_vencimento: 99112 (53.0%)
     acompanhantes_cliente: 92104 (49.3%)
     data_ultimo_vencimento_original: 85747 (45.9%)
     data_primeiro_vencimento: 79745 (42.7%)
     flag_seguro_contratado: 75199 (40.2%)
     valor_bem: 43437 (23.2%)
     valor_parcela: 41764 (22.3%)
     qtd_parcelas_planejadas: 41763 (22.3%)
     combinacao_produto: 32 (0.0%)
   Duplicate rows: 0 (0.00%)
   Categorical columns unique values:
     tipo_contrato: 4 unique values
     status_contrato: 4 unique values
     data_decisao: 2940 unique values
     data_liberacao: 2112 unique values
     data_primeiro_vencimento: 2906 unique values
     data_ultimo_vencimento_original: 4471 unique values
     data_ultimo_vencimento: 2828 unique values
     data_encerramento: 2463 unique values
     tipo_pagamento: 4 unique values
     finalidade_emprestimo: 25 unique values
     tipo_cliente: 4 unique values
     faixa_rendimento: 5 unique values
     tipo_portfolio: 5 unique values
     tipo_produto: 3 unique values
     categoria_bem: 27 unique values
     combinacao_produto: 17 unique values
     setor_vendedor: 11 unique values
     canal_venda: 8 unique values
     dia_semana_solicitacao: 7 unique values
     flag_ultima_solicitacao_contrato: 2 unique values
     motivo_recusa: 9 unique values
     acompanhantes_cliente: 7 unique values

üîç INSTALLMENTS - Data Quality Report:
   Missing Values:
     data_real_pagamento: 339 (0.0%)
     valor_pago_parcela: 339 (0.0%)
   Duplicate rows: 0 (0.00%)
   Categorical columns unique values:
     data_prevista_pagamento: 2910 unique values
     data_real_pagamento: 2923 unique values

- tipo_contrato only have 2 unique values, could be boolean
- high percentage og missing values in LOAN dataset

# Statistical Summary

In [ ]:
for name, df in datasets.items():
    print(f"\nüìä {name.upper()} - Statistical Summary:")
    
    # Numerical columns summary
    numerical_cols = df.select_dtypes(include=[np.number]).columns
    if len(numerical_cols) > 0:
        print("   Numerical columns:")
        summary = df[numerical_cols].describe()
        print(summary.round(2))
    
    # Categorical columns summary
    categorical_cols = df.select_dtypes(include=['object', 'category']).columns
    if len(categorical_cols) > 0:
        print("   Categorical columns top values:")
        for col in categorical_cols:
            value_counts = df[col].value_counts().head(5)
            print(f"     {col}:")
            for val, count in value_counts.items():
                print(f"       {val}: {count} ({count/len(df)*100:.1f}%)")

üìä REGISTER - Statistical Summary:
   Numerical columns:
       id_cliente  qtd_filhos  qtd_membros_familia   renda_anual  \
count    40000.00    40000.00             40000.00  4.000000e+04
mean    278414.66        0.41                 2.15  1.728539e+05
std     102575.20        0.72                 0.90  6.025102e+05
min     100023.00        0.00                 1.00  2.610000e+04
25%     190486.25        0.00                 2.00  1.125000e+05
50%     277796.50        0.00                 2.00  1.485000e+05
75%     367312.25        1.00                 3.00  2.025000e+05
max     456248.00       14.00                15.00  1.170000e+08

       nota_regiao_cliente  nota_regiao_cliente_cidade
count             40000.00                    40000.00
mean                  2.05                        2.03
std                   0.51                        0.50
min                   1.00                        1.00
25%                   2.00                        2.00
50%                   2.00                        2.00
75%                   2.00                        2.00
max                   3.00                        3.00
   Categorical columns top values:
     sexo:
       F: 26273 (65.7%)
       M: 13727 (34.3%)
     data_nascimento:
       1967-07-03: 12 (0.0%)
       1986-06-04: 11 (0.0%)
       1986-01-05: 11 (0.0%)
       1987-03-16: 11 (0.0%)
       1974-08-25: 10 (0.0%)
     tipo_renda:
       Working: 20502 (51.3%)
       Commercial associate: 9251 (23.1%)
       Pensioner: 7380 (18.4%)
       State servant: 2858 (7.1%)
       Unemployed: 3 (0.0%)
     ocupacao:
       Laborers: 7083 (17.7%)
       Sales staff: 4190 (10.5%)
       Core staff: 3501 (8.8%)
       Managers: 2763 (6.9%)
       Drivers: 2399 (6.0%)
     tipo_organizacao:
       Business Entity Type 3: 8840 (22.1%)
       XNA: 7383 (18.5%)
       Self-employed: 5054 (12.6%)
       Other: 2249 (5.6%)
       Medicine: 1387 (3.5%)
     nivel_educacao:
       Secondary / secondary special: 28513 (71.3%)
       Higher education: 9633 (24.1%)
       Incomplete higher: 1366 (3.4%)
       Lower secondary: 463 (1.2%)
       Academic degree: 25 (0.1%)
     estado_civil:
       Married: 25726 (64.3%)
       Single / not married: 5824 (14.6%)
       Civil marriage: 3872 (9.7%)
       Separated: 2551 (6.4%)
       Widow: 2027 (5.1%)
     tipo_moradia:
       House / apartment: 35671 (89.2%)
       With parents: 1872 (4.7%)
       Municipal apartment: 1399 (3.5%)
       Rented apartment: 616 (1.5%)
       Office apartment: 315 (0.8%)
     possui_carro:
       N: 26375 (65.9%)
       Y: 13625 (34.1%)
     possui_imovel:
       Y: 27686 (69.2%)
       N: 12314 (30.8%)

üìä SUBMISSION - Statistical Summary:
   Numerical columns:
       id_cliente  hora_solicitacao  valor_credito   valor_bem  valor_parcela
count    40000.00          40000.00       40000.00    39976.00       39996.00
mean    278414.66             12.03      586259.67   526968.20       27376.03
std     102575.20              3.27      395313.88   363020.87       14750.17
min     100023.00              0.00       45000.00    40500.00        2295.00
25%     190486.25             10.00      270000.00   238500.00       16681.50
50%     277796.50             12.00      502497.00   450000.00       25060.50
75%     367312.25             14.00      791861.62   675000.00       34781.62
max     456248.00             23.00     4050000.00  4050000.00      225000.00
   Categorical columns top values:
     data_solicitacao:
       2025-02-11: 2448 (6.1%)
       2025-02-18: 2392 (6.0%)
       2025-02-04: 2391 (6.0%)
       2025-02-12: 2312 (5.8%)
       2025-02-06: 2298 (5.7%)
     dia_semana_solicitacao:
       TUESDAY: 7231 (18.1%)
       WEDNESDAY: 6805 (17.0%)
       THURSDAY: 6698 (16.7%)
       MONDAY: 6543 (16.4%)
       FRIDAY: 6384 (16.0%)
     tipo_contrato:
       Cash loans: 36599 (91.5%)
       Revolving loans: 3401 (8.5%)

üìä LOAN - Statistical Summary:
   Numerical columns:
       id_contrato  id_cliente  valor_solicitado  valor_credito   valor_bem  \
count    186890.00   186890.00         186890.00      186890.00   143453.00
mean    1925411.15   278440.00         174010.34      194709.44   226721.31
std      532202.08   102686.99         290351.50      316121.77   312864.94
min     1000003.00   100023.00              0.00           0.00        0.00
25%     1465414.25   189807.00          18135.00       23607.00    50850.00
50%     1925815.00   278614.50          70758.00       80091.00   112036.50
75%     2385854.00   367186.00         180000.00      215640.00   233910.00
max     2845362.00   456248.00        3825000.00     3749053.50  3825000.00

       valor_parcela  valor_entrada  percentual_entrada  \
count      145126.00       86722.00            86722.00
mean        15904.69        6734.05                0.08
std         14777.24       20423.78                0.11
min             0.00           0.00                0.00
25%          6312.74           0.00                0.00
50%         11250.00        1575.00                0.05
75%         20559.76        7758.00                0.11
max        417927.64     1344510.00                0.99

       qtd_parcelas_planejadas  taxa_juros_padrao  taxa_juros_promocional  \
count                145127.00             628.00                  628.00
mean                     16.02               0.18                    0.77
std                      14.53               0.07                    0.10
min                       0.00               0.06                    0.42
25%                       6.00               0.16                    0.72
50%                      12.00               0.19                    0.84
75%                      24.00               0.19                    0.85
max                      84.00               0.80                    1.00

       area_venda  hora_solicitacao  flag_ultima_solicitacao_dia  \
count   186890.00         186890.00                    186890.00
mean       304.10             12.47                         1.00
std       1600.38              3.33                         0.06
min         -1.00              0.00                         0.00
25%         -1.00             10.00                         1.00
50%          3.00             12.00                         1.00
75%         84.00             15.00                         1.00
max     120000.00             23.00                         1.00

       flag_seguro_contratado
count               111691.00
mean                     0.33
std                      0.47
min                      0.00
25%                      0.00
50%                      0.00
75%                      1.00
max                      1.00
   Categorical columns top values:
     tipo_contrato:
       Cash loans: 83546 (44.7%)
       Consumer loans: 81684 (43.7%)
       Revolving loans: 21628 (11.6%)
       XNA: 32 (0.0%)
     status_contrato:
       Approved: 116182 (62.2%)
       Canceled: 35767 (19.1%)
       Refused: 32108 (17.2%)
       Unused offer: 2833 (1.5%)
     data_decisao:
       2024-06-26: 301 (0.2%)
       2024-05-27: 300 (0.2%)
       2024-06-04: 292 (0.2%)
       2024-08-21: 287 (0.2%)
       2024-07-19: 283 (0.2%)
     data_liberacao:
       2024-07-06: 19 (0.0%)
       2024-06-19: 19 (0.0%)
       2024-05-09: 18 (0.0%)
       2024-06-03: 18 (0.0%)
       2024-05-30: 18 (0.0%)
     data_primeiro_vencimento:
       2024-03-22: 118 (0.1%)
       2024-02-01: 103 (0.1%)
       2023-10-26: 101 (0.1%)
       2023-12-14: 99 (0.1%)
       2024-03-27: 96 (0.1%)
     data_ultimo_vencimento_original:
       2025-02-20: 96 (0.1%)
       2025-02-15: 85 (0.0%)
       2025-02-11: 85 (0.0%)
       2025-02-17: 83 (0.0%)
       2025-02-22: 82 (0.0%)
     data_ultimo_vencimento:
       2024-04-18: 90 (0.0%)
       2024-05-09: 87 (0.0%)
       2024-03-07: 86 (0.0%)
       2024-05-14: 84 (0.0%)
       2024-09-06: 84 (0.0%)
     data_encerramento:
       2024-09-01: 425 (0.2%)
       2024-05-19: 424 (0.2%)
       2024-05-05: 421 (0.2%)
       2024-06-16: 405 (0.2%)
       2024-07-21: 404 (0.2%)
     tipo_pagamento:
       Cash through the bank: 115570 (61.8%)
       XNA: 70250 (37.6%)
       Non-cash from your account: 914 (0.5%)
       Cashless from the account of the employer: 156 (0.1%)
     finalidade_emprestimo:
       XAP: 103344 (55.3%)
       XNA: 75821 (40.6%)
       Repairs: 2605 (1.4%)
       Other: 1662 (0.9%)
       Urgent needs: 964 (0.5%)
     tipo_cliente:
       Repeater: 137719 (73.7%)
       New: 33828 (18.1%)
       Refreshed: 15126 (8.1%)
       XNA: 217 (0.1%)
     faixa_rendimento:
       XNA: 57946 (31.0%)
       middle: 42831 (22.9%)
       high: 39630 (21.2%)
       low_normal: 36015 (19.3%)
       low_action: 10468 (5.6%)
     tipo_portfolio:
       POS: 77570 (41.5%)
       Cash: 51325 (27.5%)
       XNA: 41763 (22.3%)
       Cards: 16183 (8.7%)
       Cars: 49 (0.0%)
     tipo_produto:
       XNA: 119382 (63.9%)
       x-sell: 50625 (27.1%)
       walk-in: 16883 (9.0%)
     categoria_bem:
       XNA: 106340 (56.9%)
       Mobile: 25122 (13.4%)
       Consumer Electronics: 13760 (7.4%)
       Computers: 11710 (6.3%)
       Audio/Video: 11060 (5.9%)
     combinacao_produto:
       Cash: 32221 (17.2%)
       POS household with interest: 29453 (15.8%)
       POS mobile with interest: 24557 (13.1%)
       Cash X-Sell: middle: 15905 (8.5%)
       Cash X-Sell: low: 14357 (7.7%)
     setor_vendedor:
       XNA: 95776 (51.2%)
       Consumer electronics: 44748 (23.9%)
       Connectivity: 30588 (16.4%)
       Furniture: 6562 (3.5%)
       Construction: 3389 (1.8%)
     canal_venda:
       Credit and cash offices: 80376 (43.0%)
       Country-wide: 55117 (29.5%)
       Stone: 23830 (12.8%)
       Regional / Local: 12254 (6.6%)
       Contact center: 7957 (4.3%)
     dia_semana_solicitacao:
       TUESDAY: 28459 (15.2%)
       FRIDAY: 28287 (15.1%)
       WEDNESDAY: 28283 (15.1%)
       MONDAY: 28023 (15.0%)
       THURSDAY: 27335 (14.6%)
     flag_ultima_solicitacao_contrato:
       Y: 185979 (99.5%)
       N: 911 (0.5%)
     motivo_recusa:
       XAP: 151948 (81.3%)
       HC: 19292 (10.3%)
       LIMIT: 6247 (3.3%)
       SCO: 4222 (2.3%)
       CLIENT: 2833 (1.5%)
     acompanhantes_cliente:
       Unaccompanied: 56618 (30.3%)
       Family: 23784 (12.7%)
       Spouse, partner: 7629 (4.1%)
       Children: 3558 (1.9%)
       Other_B: 1928 (1.0%)

üìä INSTALLMENTS - Statistical Summary:
   Numerical columns:
       id_contrato  id_cliente  versao_parcela  numero_parcela  \
count   1390978.00  1390978.00      1390978.00      1390978.00
mean    1908259.12   278845.69            0.93           14.92
std      535193.18   102181.63            1.06           20.90
min     1000003.00   100023.00            0.00            1.00
25%     1437671.00   191166.00            1.00            4.00
50%     1902062.00   279270.00            1.00            8.00
75%     2371329.00   367159.00            1.00           15.00
max     2843493.00   456248.00           52.00          194.00

       valor_previsto_parcela  valor_pago_parcela
count              1390978.00          1390639.00
mean                 18145.87            18353.37
std                  52183.44            56500.72
min                      0.00                0.00
25%                   4677.16             4106.92
50%                   9300.58             8980.25
75%                  17902.58            17246.92
max                2784334.14          2784334.14
   Categorical columns top values:
     data_prevista_pagamento:
       2024-07-22: 1250 (0.1%)
       2024-08-21: 1232 (0.1%)
       2024-09-17: 1224 (0.1%)
       2024-07-15: 1221 (0.1%)
       2024-10-17: 1220 (0.1%)
     data_real_pagamento:
       2024-10-21: 1593 (0.1%)
       2024-10-14: 1574 (0.1%)
       2024-07-22: 1554 (0.1%)
       2024-11-11: 1549 (0.1%)
       2024-08-19: 1541 (0.1%)

- nota can be 1,2 or 3

# Customer Demographics Analysis

In [23]:
df = datasets['register']
max_submission_date = datasets['submission']['data_solicitacao'].max()

# Age analysis
df['idade'] = (pd.Timestamp(max_submission_date) - pd.to_datetime(df['data_nascimento'])).dt.days / 365.25

print(f"\nüìä Age Statistics:")
print(f"   Mean age: {df['idade'].mean():.1f} years")
print(f"   Median age: {df['idade'].median():.1f} years")
print(f"   Age range: {df['idade'].min():.1f} - {df['idade'].max():.1f} years")

# Gender distribution
print(f"\nüë´ Gender Distribution:")
gender_dist = df['sexo'].value_counts()
for gender, count in gender_dist.items():
    print(f"   {gender}: {count} ({count/len(df)*100:.1f}%)")

# Income analysis
print(f"\nüí∞ Income Analysis:")
print(f"   Mean annual income: R$ {df['renda_anual'].mean():,.2f}")
print(f"   Median annual income: R$ {df['renda_anual'].median():,.2f}")
print(f"   Income range: R$ {df['renda_anual'].min():,.2f} - R$ {df['renda_anual'].max():,.2f}")

# Education level
print(f"\nüéì Education Level Distribution:")
edu_dist = df['nivel_educacao'].value_counts()
for edu, count in edu_dist.items():
    print(f"   {edu}: {count} ({count/len(df)*100:.1f}%)")

# Family composition
print(f"\nüë®‚Äçüë©‚Äçüëß‚Äçüë¶ Family Composition:")
print(f"   Average family members: {df['qtd_membros_familia'].mean():.1f}")
print(f"   Average children: {df['qtd_filhos'].mean():.1f}")

# Asset ownership
print(f"\nüè† Asset Ownership:")
car_owners = df['possui_carro'].value_counts()
house_owners = df['possui_imovel'].value_counts()

print(f"   Car owners: {car_owners.get('Y', 0)} ({car_owners.get('Y', 0)/len(df)*100:.1f}%)")
print(f"   House owners: {house_owners.get('Y', 0)} ({house_owners.get('Y', 0)/len(df)*100:.1f}%)")

üìä Age Statistics:
   Mean age: 44.0 years
   Median age: 43.2 years
   Age range: 21.0 - 69.0 years

üë´ Gender Distribution:
   F: 26273 (65.7%)
   M: 13727 (34.3%)

üí∞ Income Analysis:
   Mean annual income: R$ 172,853.87
   Median annual income: R$ 148,500.00
   Income range: R$ 26,100.00 - R$ 117,000,000.00

üéì Education Level Distribution:
   Secondary / secondary special: 28513 (71.3%)
   Higher education: 9633 (24.1%)
   Incomplete higher: 1366 (3.4%)
   Lower secondary: 463 (1.2%)
   Academic degree: 25 (0.1%)

üë®‚Äçüë©‚Äçüëß‚Äçüë¶ Family Composition:
   Average family members: 2.2
   Average children: 0.4

üè† Asset Ownership:
   Car owners: 13625 (34.1%)
   House owners: 27686 (69.2%)

# Credit Application Analysis

In [15]:
df = datasets['submission']

# Application timing analysis
df['data_solicitacao'] = pd.to_datetime(df['data_solicitacao'])
df['hora_solicitacao'] = pd.to_datetime(df['hora_solicitacao'])

print(f"\nüìÖ Application Timing:")
print(f"   Date range: {df['data_solicitacao'].min().date()} to {df['data_solicitacao'].max().date()}")
print(f"   Total applications: {len(df)}")

# Day of week analysis
print(f"\nüìÖ Day of Week Distribution:")
dow_dist = df['dia_semana_solicitacao'].value_counts()
for day, count in dow_dist.items():
    print(f"   {day}: {count} ({count/len(df)*100:.1f}%)")

# Hour analysis
df['hour'] = df['hora_solicitacao'].dt.hour
print(f"\nüïê Hour of Day Distribution:")
hour_dist = df['hour'].value_counts().sort_index()
for hour, count in hour_dist.items():
    print(f"   {hour:02d}:00: {count} ({count/len(df)*100:.1f}%)")

# Credit amount analysis
print(f"\nüí∞ Credit Amount Analysis:")
print(f"   Mean credit amount: R$ {df['valor_credito'].mean():,.2f}")
print(f"   Median credit amount: R$ {df['valor_credito'].median():,.2f}")
print(f"   Amount range: R$ {df['valor_credito'].min():,.2f} - R$ {df['valor_credito'].max():,.2f}")

# Contract type analysis
print(f"\nüìã Contract Type Distribution:")
contract_dist = df['tipo_contrato'].value_counts()
for contract, count in contract_dist.items():
    print(f"   {contract}: {count} ({count/len(df)*100:.1f}%)")

üìÖ Application Timing:
   Date range: 2025-02-04 to 2025-02-24
   Total applications: 40000

üìÖ Day of Week Distribution:
   TUESDAY: 7231 (18.1%)
   WEDNESDAY: 6805 (17.0%)
   THURSDAY: 6698 (16.7%)
   MONDAY: 6543 (16.4%)
   FRIDAY: 6384 (16.0%)
   SATURDAY: 4334 (10.8%)
   SUNDAY: 2005 (5.0%)

üïê Hour of Day Distribution:
   00:00: 40000 (100.0%)

üí∞ Credit Amount Analysis:
   Mean credit amount: R$ 586,259.67
   Median credit amount: R$ 502,497.00
   Amount range: R$ 45,000.00 - R$ 4,050,000.00

üìã Contract Type Distribution:
   Cash loans: 36599 (91.5%)
   Revolving loans: 3401 (8.5%)

# Loan History Analysis

In [26]:
df = datasets['loan']
        
# Contract status analysis
print(f"\nüìã Contract Status Distribution:")
status_dist = df['status_contrato'].value_counts()
for status, count in status_dist.items():
    print(f"   {status}: {count} ({count/len(df)*100:.1f}%)")

# Contract type analysis
print(f"\nüìã Contract Type Distribution:")
contract_dist = df['tipo_contrato'].value_counts()
for contract, count in contract_dist.items():
    print(f"   {contract}: {count} ({count/len(df)*100:.1f}%)")

# Financial analysis
print(f"\nüí∞ Financial Analysis:")
print(f"   Mean requested amount: R$ {df['valor_solicitado'].mean():,.2f}")
print(f"   Mean approved amount: R$ {df['valor_credito'].mean():,.2f}")
print(f"   Mean down payment: R$ {df['valor_entrada'].mean():,.2f}")
print(f"   Mean installment: R$ {df['valor_parcela'].mean():,.2f}")

# Interest rate analysis
print(f"\nüìà Interest Rate Analysis:")
print(f"   Mean standard rate: {df['taxa_juros_padrao'].mean():.2f}%")
print(f"   Mean promotional rate: {df['taxa_juros_promocional'].mean():.2f}%")

# Customer type analysis
print(f"\nüë• Customer Type Distribution:")
customer_dist = df['tipo_cliente'].value_counts()
for customer, count in customer_dist.items():
    print(f"   {customer}: {count} ({count/len(df)*100:.1f}%)")

üìã Contract Status Distribution:
   Approved: 116182 (62.2%)
   Canceled: 35767 (19.1%)
   Refused: 32108 (17.2%)
   Unused offer: 2833 (1.5%)

üìã Contract Type Distribution:
   Cash loans: 83546 (44.7%)
   Consumer loans: 81684 (43.7%)
   Revolving loans: 21628 (11.6%)
   XNA: 32 (0.0%)

üí∞ Financial Analysis:
   Mean requested amount: R$ 174,010.34
   Mean approved amount: R$ 194,709.44
   Mean down payment: R$ 6,734.05
   Mean installment: R$ 15,904.69

üìà Interest Rate Analysis:
   Mean standard rate: 0.18%
   Mean promotional rate: 0.77%

üë• Customer Type Distribution:
   Repeater: 137719 (73.7%)
   New: 33828 (18.1%)
   Refreshed: 15126 (8.1%)
   XNA: 217 (0.1%)

# Payment History Analysis

In [27]:
df = datasets['installments']
        
# Payment timing analysis
df['data_prevista_pagamento'] = pd.to_datetime(df['data_prevista_pagamento'])
df['data_real_pagamento'] = pd.to_datetime(df['data_real_pagamento'])

# Calculate payment delays
df['payment_delay'] = (df['data_real_pagamento'] - df['data_prevista_pagamento']).dt.days

print(f"\n‚è∞ Payment Timing Analysis:")
print(f"   Total installments: {len(df)}")
print(f"   Mean payment delay: {df['payment_delay'].mean():.1f} days")
print(f"   Median payment delay: {df['payment_delay'].median():.1f} days")

# On-time vs late payments
on_time = (df['payment_delay'] <= 0).sum()
late = (df['payment_delay'] > 0).sum()
print(f"   On-time payments: {on_time} ({on_time/len(df)*100:.1f}%)")
print(f"   Late payments: {late} ({late/len(df)*100:.1f}%)")

# Payment amount analysis
print(f"\nüí∞ Payment Amount Analysis:")
print(f"   Mean expected amount: R$ {df['valor_previsto_parcela'].mean():,.2f}")
print(f"   Mean paid amount: R$ {df['valor_pago_parcela'].mean():,.2f}")

# Partial payments
partial_payments = (df['valor_pago_parcela'] < df['valor_previsto_parcela']).sum()
print(f"   Partial payments: {partial_payments} ({partial_payments/len(df)*100:.1f}%)")

‚è∞ Payment Timing Analysis:
   Total installments: 1390978
   Mean payment delay: -9.4 days
   Median payment delay: -7.0 days
   On-time payments: 1269751 (91.3%)
   Late payments: 120888 (8.7%)

üí∞ Payment Amount Analysis:
   Mean expected amount: R$ 18,145.87
   Mean paid amount: R$ 18,353.37
   Partial payments: 138800 (10.0%)

# Visualizations

## Customer Demographic

In [33]:
df = datasets['register']
df['idade'] = (pd.Timestamp.now() - pd.to_datetime(df['data_nascimento'])).dt.days / 365.25

fig, axes = plt.subplots(2, 3, figsize=(20, 12))
fig.suptitle('Customer Demographics Analysis', fontsize=16, fontweight='bold')

# Age distribution
axes[0, 0].hist(df['idade'].dropna(), bins=30, alpha=0.7, color='skyblue', edgecolor='black')
axes[0, 0].set_title('Age Distribution')
axes[0, 0].set_xlabel('Age (years)')
axes[0, 0].set_ylabel('Frequency')

# Gender distribution
gender_counts = df['sexo'].value_counts()
axes[0, 1].pie(gender_counts.values, labels=gender_counts.index, autopct='%1.1f%%', startangle=90)
axes[0, 1].set_title('Gender Distribution')

# Income distribution
axes[0, 2].hist(df['renda_anual'].dropna(), bins=100, alpha=0.7, color='lightgreen', edgecolor='black')
axes[0, 2].set_title('Annual Income Distribution')
axes[0, 2].set_xlabel('Annual Income (R$)')
axes[0, 2].set_ylabel('Frequency')

# Education level
edu_counts = df['nivel_educacao'].value_counts()
axes[1, 0].bar(range(len(edu_counts)), edu_counts.values, color='lightcoral')
axes[1, 0].set_title('Education Level Distribution')
axes[1, 0].set_xlabel('Education Level')
axes[1, 0].set_ylabel('Count')
axes[1, 0].set_xticks(range(len(edu_counts)))
axes[1, 0].set_xticklabels(edu_counts.index, rotation=45)

# Family size
axes[1, 1].hist(df['qtd_membros_familia'].dropna(), bins=15, alpha=0.7, color='gold', edgecolor='black')
axes[1, 1].set_title('Family Size Distribution')
axes[1, 1].set_xlabel('Family Members')
axes[1, 1].set_ylabel('Frequency')

# Asset ownership
car_owners = df['possui_carro'].value_counts()
house_owners = df['possui_imovel'].value_counts()

x = np.arange(2)
width = 0.35

axes[1, 2].bar(x - width/2, [car_owners.get('Y', 0), car_owners.get('N', 0)], 
                width, label='Car', color='lightblue')
axes[1, 2].bar(x + width/2, [house_owners.get('Y', 0), house_owners.get('N', 0)], 
                width, label='House', color='lightgreen')
axes[1, 2].set_title('Asset Ownership')
axes[1, 2].set_xlabel('Ownership')
axes[1, 2].set_ylabel('Count')
axes[1, 2].set_xticks(x)
axes[1, 2].set_xticklabels(['Yes', 'No'])
axes[1, 2].legend()

plt.tight_layout()
plt.savefig(output_dir / 'customer_demographics.png', dpi=300, bbox_inches='tight')
plt.close()

- income distribution right skewed

## Credit Applications

In [34]:
df = datasets['submission']
df['data_solicitacao'] = pd.to_datetime(df['data_solicitacao'])
df['hora_solicitacao'] = pd.to_datetime(df['hora_solicitacao'])
df['hour'] = df['hora_solicitacao'].dt.hour

fig, axes = plt.subplots(2, 2, figsize=(20, 12))
fig.suptitle('Credit Application Patterns', fontsize=16, fontweight='bold')

# Applications over time
daily_apps = df.groupby(df['data_solicitacao'].dt.date).size()
axes[0, 0].plot(daily_apps.index, daily_apps.values, linewidth=2, color='blue')
axes[0, 0].set_title('Daily Applications Over Time')
axes[0, 0].set_xlabel('Date')
axes[0, 0].set_ylabel('Number of Applications')
axes[0, 0].tick_params(axis='x', rotation=45)

# Day of week distribution
dow_counts = df['dia_semana_solicitacao'].value_counts()
axes[0, 1].bar(range(len(dow_counts)), dow_counts.values, color='orange')
axes[0, 1].set_title('Applications by Day of Week')
axes[0, 1].set_xlabel('Day of Week')
axes[0, 1].set_ylabel('Count')
axes[0, 1].set_xticks(range(len(dow_counts)))
axes[0, 1].set_xticklabels(dow_counts.index, rotation=45)

# Hour of day distribution
hour_counts = df['hour'].value_counts().sort_index()
axes[1, 0].bar(hour_counts.index, hour_counts.values, color='green')
axes[1, 0].set_title('Applications by Hour of Day')
axes[1, 0].set_xlabel('Hour')
axes[1, 0].set_ylabel('Count')

# Credit amount distribution
axes[1, 1].hist(df['valor_credito'].dropna(), bins=30, alpha=0.7, color='purple', edgecolor='black')
axes[1, 1].set_title('Credit Amount Distribution')
axes[1, 1].set_xlabel('Credit Amount (R$)')
axes[1, 1].set_ylabel('Frequency')

plt.tight_layout()
plt.savefig(output_dir / 'credit_applications.png', dpi=300, bbox_inches='tight')
plt.close()

- few submission in sunday

## Loans

In [36]:
df = datasets['loan']
        
fig, axes = plt.subplots(2, 2, figsize=(20, 12))
fig.suptitle('Loan Performance Analysis', fontsize=16, fontweight='bold')

# Contract status distribution
status_counts = df['status_contrato'].value_counts()
axes[0, 0].pie(status_counts.values, labels=status_counts.index, autopct='%1.1f%%', startangle=90)
axes[0, 0].set_title('Contract Status Distribution')

# Contract type distribution
contract_counts = df['tipo_contrato'].value_counts().head(10)
axes[0, 1].bar(range(len(contract_counts)), contract_counts.values, color='lightblue')
axes[0, 1].set_title('Top 10 Contract Types')
axes[0, 1].set_xlabel('Contract Type')
axes[0, 1].set_ylabel('Count')
axes[0, 1].set_xticks(range(len(contract_counts)))
axes[0, 1].set_xticklabels(contract_counts.index, rotation=45)

# Credit amount vs requested amount
axes[1, 0].scatter(df['valor_solicitado'], df['valor_credito'], alpha=0.6, color='red')
axes[1, 0].plot([df['valor_solicitado'].min(), df['valor_solicitado'].max()], 
                [df['valor_solicitado'].min(), df['valor_solicitado'].max()], 'k--', alpha=0.5)
axes[1, 0].set_title('Requested vs Approved Amount')
axes[1, 0].set_xlabel('Requested Amount (R$)')
axes[1, 0].set_ylabel('Approved Amount (R$)')

# Interest rate distribution
axes[1, 1].hist(df['taxa_juros_padrao'].dropna(), bins=30, alpha=0.7, color='gold', edgecolor='black')
axes[1, 1].set_title('Standard Interest Rate Distribution')
axes[1, 1].set_xlabel('Interest Rate (%)')
axes[1, 1].set_ylabel('Frequency')

plt.tight_layout()
plt.savefig(output_dir / 'loan_performance.png', dpi=300, bbox_inches='tight')
plt.close()

## Installments

In [38]:
df = datasets['installments']
df['data_prevista_pagamento'] = pd.to_datetime(df['data_prevista_pagamento'])
df['data_real_pagamento'] = pd.to_datetime(df['data_real_pagamento'])
df['payment_delay'] = (df['data_real_pagamento'] - df['data_prevista_pagamento']).dt.days

fig, axes = plt.subplots(2, 2, figsize=(20, 12))
fig.suptitle('Payment Behavior Analysis', fontsize=16, fontweight='bold')

# Payment delay distribution
axes[0, 0].hist(df['payment_delay'].dropna(), bins=50, alpha=0.7, color='lightcoral', edgecolor='black')
axes[0, 0].set_title('Payment Delay Distribution')
axes[0, 0].set_xlabel('Delay (days)')
axes[0, 0].set_ylabel('Frequency')
axes[0, 0].axvline(x=0, color='red', linestyle='--', alpha=0.7, label='On-time')
axes[0, 0].legend()

# Payment amount comparison
axes[0, 1].scatter(df['valor_previsto_parcela'], df['valor_pago_parcela'], alpha=0.6, color='blue')
axes[0, 1].plot([df['valor_previsto_parcela'].min(), df['valor_previsto_parcela'].max()], 
                [df['valor_previsto_parcela'].min(), df['valor_previsto_parcela'].max()], 'k--', alpha=0.5)
axes[0, 1].set_title('Expected vs Actual Payment Amount')
axes[0, 1].set_xlabel('Expected Amount (R$)')
axes[0, 1].set_ylabel('Actual Amount (R$)')

# Payment timing over time
monthly_payments = df.groupby(df['data_real_pagamento'].dt.to_period('M')).size()
axes[1, 0].plot(range(len(monthly_payments)), monthly_payments.values, linewidth=2, color='green')
axes[1, 0].set_title('Monthly Payment Volume')
axes[1, 0].set_xlabel('Month')
axes[1, 0].set_ylabel('Number of Payments')

# On-time vs late payments
on_time = (df['payment_delay'] <= 0).sum()
late = (df['payment_delay'] > 0).sum()
axes[1, 1].pie([on_time, late], labels=['On-time', 'Late'], autopct='%1.1f%%', 
                colors=['lightgreen', 'lightcoral'], startangle=90)
axes[1, 1].set_title('Payment Punctuality')

plt.tight_layout()
plt.savefig(output_dir / 'payment_behavior.png', dpi=300, bbox_inches='tight')
plt.close()

# OTHERS

## Installments

In [ ]:
# datasets['installments'].iloc[:100000,:].to_excel("installments.xlsx")

In [11]:
datasets['installments'].query("valor_previsto_parcela != valor_pago_parcela")

,id_contrato,id_cliente,versao_parcela,numero_parcela,data_prevista_pagamento,data_real_pagamento,valor_previsto_parcela,valor_pago_parcela
6,2726751,182114,1.0,20,2022-03-15,2022-02-18,10770.750,499.500
9,1775456,134670,1.0,1,2022-06-13,2022-06-17,34703.820,32537.790
10,1915769,138380,1.0,17,2022-03-08,2022-03-15,16729.155,15592.365
11,2623487,174960,1.0,10,2022-06-17,2022-06-21,11463.975,11445.750
12,2127195,110953,1.0,8,2021-07-26,2021-08-02,54752.850,54459.675
...,...,...,...,...,...,...,...,...
1390943,2384200,431712,2.0,20,2022-09-21,2022-09-11,15488.325,1858.860
1390960,2206019,408583,3.0,12,2023-11-14,2023-11-18,34120.170,22780.350
1390975,1635645,417079,1.0,1,2019-01-09,2019-01-15,9914.850,9010.485
1390976,2246041,430618,0.0,40,2021-04-04,None,67.500,NaN
1390977,1285736,434069,0.0,73,2022-10-22,None,67.500,NaN

In [12]:
datasets['installments'].query("valor_pago_parcela == 0")

,id_contrato,id_cliente,versao_parcela,numero_parcela,data_prevista_pagamento,data_real_pagamento,valor_previsto_parcela,valor_pago_parcela
5178,2254262,197304,0.0,17,2018-09-20,2018-08-24,9000.0,0.0
10900,2116229,195907,0.0,13,2018-08-23,2018-07-27,9000.0,0.0
20110,1298920,103055,0.0,11,2018-05-31,2018-05-01,5625.0,0.0
21840,2052166,154455,0.0,27,2019-02-05,2019-01-09,6750.0,0.0
48693,1130681,137552,0.0,20,2019-03-19,2019-02-22,5625.0,0.0
...,...,...,...,...,...,...,...,...
1329909,2605243,422585,0.0,8,2018-12-20,2018-11-21,9000.0,0.0
1366840,2076417,442825,0.0,7,2019-01-27,2018-12-28,6750.0,0.0
1378518,2652019,445660,0.0,3,2019-03-10,2019-02-19,9000.0,0.0
1384823,1646712,405914,0.0,7,2018-11-29,2018-10-30,4500.0,0.0
1390864,2652019,445660,0.0,2,2019-02-07,2019-01-30,9000.0,0.0

## SUBMISSION

In [16]:
datasets['submission'].to_excel("submission.xlsx")

In [3]:
submission = pd.read_parquet("../data/base_submissao.parquet")
submission['hora_solicitacao']

0        12
1         9
2        10
3        11
4        12
         ..
39995    12
39996    10
39997    14
39998    11
39999    11
Name: hora_solicitacao, Length: 40000, dtype: int64